:root {
    --image_url: '';
    --is_light: 0;
    --transition: linear 0.35s;
    /* You can darken (eg. -20) or lighten (eg. +20) the main color*/
    --custom_darken: -5;
    --system_is_dark: 1;
}

@media (prefers-color-scheme: light) {
    :root {
        --system_is_dark: 0;
    }
}

/* jost-regular - latin_cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url("https://local_resource_host/fonts/jost-v6-latin_cyrillic-regular.woff2") format('woff2');
}
/* jost-500 - latin_cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url("https://local_resource_host/fonts/jost-v6-latin_cyrillic-500.woff2") format('woff2');
}

body {
    font-family: "Jost", "spotify-circular", "spotify-circular-cyrillic", "spotify-circular-arabic", "spotify-circular-hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

input:focus {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}

.artist-artistVerifiedBadge-badge svg,
.main-trackList-playingIcon {
    filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

.main-navBar-navBarLinkActive {
    background-color: rgba(var(--spice-rgb-button), 0.5);
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/* translucid background cover */
.Root__top-container::before {
    content: '';
    background-image: var(--image_url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(15px);
    pointer-events: none;
    backface-visibility: hidden;
    will-change: transform;
    transition: background-image var(--transition);
    opacity: calc(0.07 + 0.03 * var(--is_light, 0));
    z-index: +4;
}

/* context menu */
.main-contextMenu-menu {
    border: 1px solid var(--spice-tab-active);
}

/* notification toaster */
.main-notificationBubbleContainer-NotificationBubbleContainer .main-notificationBubble-NotificationBubble {
    color: #EEEEEE;
    background-color: var(--spice-button);
}

/* collection card shown in library */
.collection-collectionEntityHeroCard-descriptionContainer,
div.collection-collectionEntityHeroCard-container a,
div.collection-collectionEntityHeroCard-container {
    color: #EEEEEE !important;
}

.collection-collectionEntityHeroCard-likedSongs,
.collection-collectionEntityHeroCard-likedSongs:focus-within,
.collection-collectionEntityHeroCard-likedSongs:hover {
    background: linear-gradient(149.46deg, var(--spice-button), var(--spice-text) 99.16%) !important;
}

/* spotify dynamic gradients */
.main-home-homeHeader {
    opacity: 0.3;
    background-color: var(--spice-text) !important;
}

.main-actionBarBackground-background,
.main-entityHeader-backgroundColor {
    opacity: 0.15;
    background-color: var(--spice-text) !important;
    filter: grayscale(0.5);
}

/* play button in playlist table */
.main-trackList-rowPlayPauseButton {
    padding: 0px;
}
.main-trackList-rowPlayPauseButton:hover {
    color: var(--spice-subtext);
    transform: scale(1.15);
    transition: transform 30ms linear;
}

.main-collectionLinkButton-collectionLinkButton,
.main-createPlaylistButton-button {
    color: var(--spice-subtext);
}

/* h2-like titles */
.main-entityHeader-titleButton,
.main-entityHeader-title,
.main-shelf-title,
.main-type-canon {
    color: var(--spice-subtext) !important;
}

/* profile icon */
.main-entityHeader-imagePlaceholder {
    color: unset;
}

/* left menu active item background */
.main-navBar-navBarLinkActive {
    color: var(--spice-subtext) !important;
}

/* connect */
.connect-title {
    color: var(--spice-subtext) !important;
}

.connect-header {
    display: none;
}

.main-buttons-button:hover {
    color: var(--spice-main) !important;
}

/* top buttons */
.main-userWidget-box,
.main-topBar-historyButtons
.main-topBar-button {
    background-color: var(--spice-notification);
}

/* bubble arrow */
.main-notificationBubble-NotificationBubble {
    border: 1px solid var(--spice-text);
}

.main-notificationBubble-withTopRightPointer:before {
    right: 32px;
    top: -17px;
    border: 8px solid transparent;
    border-bottom-color: var(--spice-text);
    bottom: 100%;
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}