:root {
    --image_url: "";
    --is_light: 0;
    --transition: linear 0.35s;
    /* You can darken (eg. -20) or lighten (eg. +20) the main color*/
    --custom_darken: -5;
    --system_is_dark: 1;
    --warning_message: "You haven't installed 'default-dynamic.js' extension. Please follow instructions on the README page.";
}

div.ReactModalPortal:last-of-type::before {
    font-size: 30px;
    content: var(--warning_message);
}

@media (prefers-color-scheme: light) {
    :root {
        --system_is_dark: 0;
    }
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

input::placeholder {
    color: var(--spice-subtext) !important;
}

input:focus {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}

.artist-artistVerifiedBadge-badge svg,
.main-trackList-playingIcon {
    filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

.main-navBar-navBarLinkActive {
    background-color: rgba(var(--spice-rgb-button), 0.5);
}

.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover {
    background-color: rgba(128, 128, 128, 0.1);
}
.main-trackList-trackListRow.main-trackList-selected,
.main-trackList-trackListRow.main-trackList-selected:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.main-entityHeader-subtitle.main-entityHeader-gray,
.main-entityHeader-divider.main-type-mesto,
.main-entityHeader-divider.main-type-mesto span,
.main-type-mesto.main-type-mesto,
.main-type-mesto.main-type-mesto span {
    color: var(--spice-subtext) !important;
}

.contentSpacing hr {
    border-color: rgba(128, 128, 128, 0.2);
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent, transparent), linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/* translucid background cover */
.Root__top-container::before {
    content: "";
    background-image: var(--image_url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(15px);
    pointer-events: none;
    backface-visibility: hidden;
    will-change: transform;
    transition: background-image var(--transition);
    opacity: 0.17;
    z-index: +4;
}

/* context menu */
.main-contextMenu-menu {
    border: 1px solid var(--spice-tab-active);
}

/* notification toaster */
.main-notificationBubbleContainer-NotificationBubbleContainer .main-notificationBubble-NotificationBubble {
    color: #ffffff;
    background-color: var(--spice-button);
}

/* collection card shown in library */
.main-heroCard-draggable,
.main-heroCard-draggable a,
.main-heroCard-draggable div,
.collection-collectionEntityHeroCard-likedSongs,
.collection-collectionEntityHeroCard-likedSongs .main-cardHeader-link,
.collection-collectionEntityHeroCard-likedSongs .collection-collectionEntityHeroCard-descriptionContainer,
.x-heroCategoryCard-heroTitle {
    color: #eeeeee !important;
}

/* genre page card shown in search */
#searchPage h3 {
    color: #eeeeee !important;
}

.collection-collectionEntityHeroCard-likedSongs,
.collection-collectionEntityHeroCard-likedSongs:focus-within,
.collection-collectionEntityHeroCard-likedSongs:hover {
    background: linear-gradient(149.46deg, var(--spice-button), var(--spice-text) 99.16%) !important;
}

/* spotify dynamic gradients */
.main-home-homeHeader {
    opacity: 0.3;
    background-color: var(--spice-text) !important;
}

.main-actionBarBackground-background,
.main-entityHeader-backgroundColor {
    opacity: 0.15;
    background-color: var(--spice-text) !important;
    filter: grayscale(0.5);
}

/* play button in playlist table */
.main-trackList-rowPlayPauseButton {
    padding: 0px;
}

.main-trackList-rowPlayPauseButton:hover {
    color: var(--spice-subtext);
    transform: scale(1.15);
    transition: transform 30ms linear;
}

.main-collectionLinkButton-collectionLinkButton,
.main-createPlaylistButton-button {
    color: var(--spice-subtext);
}

/* h2-like titles */
.main-entityHeader-titleButton,
.main-entityHeader-title,
.main-shelf-title,
.main-type-canon {
    color: var(--spice-subtext) !important;
}

/* profile icon */
.main-entityHeader-imagePlaceholder {
    color: unset;
}

/* left menu active item background */
.main-navBar-navBarLinkActive {
    color: var(--spice-subtext) !important;
}

/* connect */
.connect-title {
    color: var(--spice-subtext) !important;
}

.connect-header {
    display: none;
}

/* big oval buttons */
.main-buttons-button:hover {
    color: var(--spice-main) !important;
    background-color: var(--spice-button-active);
}

/* top buttons */
.main-userWidget-box,
.main-topBar-historyButtons .main-topBar-button {
    background-color: var(--spice-notification);
}

/* bubble arrow */
.main-notificationBubble-NotificationBubble {
    border: 1px solid var(--spice-text);
}

.main-notificationBubble-withTopRightPointer:before {
    right: 32px;
    top: -17px;
    border: 8px solid transparent;
    border-bottom-color: var(--spice-text);
    bottom: 100%;
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}

/* buddy shadow */
.main-buddyFeed-buddyFeed {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* buddyFeed color fix */
.main-buddyFeed-activityMetadata .main-buddyFeed-usernameAndTimestamp,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink,
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a {
    color: unset;
}

/* drop down */
.main-dropDown-dropDown,
select,
option {
    color: var(--modspotify_secondary_fg) !important;
    background-color: var(--spice-notification) !important;
    font-weight: 400 !important;
    border-radius: 4px !important;
    margin-left: 0 !important;
}

/* lyrics plus app */
.lyrics-lyricsContainer-LyricsContainer {
    margin-top: unset;
    --lyrics-color-active: var(--spice-subtext) !important;
    --lyrics-color-inactive: var(--spice-main) !important;
}

/* available update text */
.main-topBarUpdateAvailable {
    max-width: unset;
}

/* playlist header */
.main-duration-container,
.main-entityHeader-metaDataText,
.playlist-playlist-playlistDescription {
    color: var(--spice-text);
}

/* lyrics header */
.lyrics-lyricsContainer-LyricsBackground {
    background: linear-gradient(180deg, transparent 60px, var(--lyrics-color-background) 100%) !important;
}

/* cover collapsed button */
.main-coverSlotCollapsed-expandButton,
.x-removeButton-RemoveButton,
.main-coverSlotExpandedCollapseButton-collapseButton {
    color: var(--spice-main) !important;
    background-color: rgba(var(--spice-rgb-subtext), 0.25) !important;
}

.main-coverSlotCollapsed-expandButton:hover,
.x-removeButton-RemoveButton:hover,
.main-coverSlotExpandedCollapseButton-collapseButton:hover {
    background-color: rgba(var(--spice-rgb-subtext), 0.6) !important;
}

/* save vertical space in left menu */
.spotify__container--is-desktop:not(.fullscreen) .main-navBar-entryPoints {
    padding-top: 12px;
}

.main-navBar-navBarLink {
    height: 34px; /* try 32px */
}

.main-rootlist-rootlist {
    margin-top: 6px;
}

.main-createPlaylistButton-button,
.main-collectionLinkButton-collectionLinkButton {
    padding-top: 3px;
    padding-bottom: 4px;
}

.main-rootlist-rootlist {
    --left-sidebar-item-height: 28px; /* try 26px */
}

.main-rootlist-rootlistDivider {
    background-color: unset;
}

/* Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    color: var(--spice-subtext);
    background-color: rgba(var(--spice-rgb-button), 0.5);
    border-radius: 4px;
    padding: 0 16px;
    margin: 0 -16px;
}

/* Menu item hover */
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    background-color: rgba(var(--spice-rgb-selected-row), 0.2);
}

.main-contextMenu-menuItemButton {
    color: var(--spice-subtext);
}

/* bookmark extension */
.bookmark-menuitem {
    padding: 5px !important;
}

.bookmark-menuitem:hover {
    background-color: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}

.bookmark-controls {
    color: var(--spice-main) !important;
    background-color: rgba(var(--spice-rgb-subtext), 0.2) !important;
}

.bookmark-controls:hover {
    background-color: rgba(var(--spice-rgb-subtext), 0.5) !important;
}

/* new-releases & lyrics-plus settings */
.reddit-sort-container button.switch,
.new-releases-header button.switch,
.lyrics-tabBar-header button.switch {
    background-color: rgba(var(--spice-rgb-subtext), 0.15) !important;
    color: var(--spice-text);
}

.reddit-sort-container button.switch:hover,
.new-releases-header button.switch:hover,
.lyrics-tabBar-header button.switch:hover {
    background-color: rgba(var(--spice-rgb-subtext), 0.3) !important;
}

/* same border radius on all 3 icons (playlist, liked, podcasts) */
.main-yourEpisodesButton-yourEpisodesIcon {
    border-radius: 4px;
}

/* explicit lyrics icon */
.main-tag-container {
    color: var(--spice-subtext);
    background-color: rgba(var(--spice-rgb-subtext), 0.2) !important;
}

/* playlist top buttons */
.os-viewport button:not(.main-playButton-primary):not(:hover) {
    color: var(--spice-subtext) !important;
}

/* album year info */
.main-trackInfo-release {
    font-size: 0.6875rem;
}

/* fix player bar buttons */
.main-nowPlayingBar-left button,
.main-nowPlayingBar-left button[aria-checked="false"],
.main-nowPlayingBar-right button,
.main-nowPlayingBar-right button:focus:not(:focus-visible):not(:hover),
.main-nowPlayingBar-center button:not(.main-playPauseButton-button),
.main-nowPlayingBar-center button:focus:not(:focus-visible):not(:hover) {
    color: var(--spice-subtext);
}

.main-nowPlayingBar-left button:active,
.main-nowPlayingBar-right button:active,
.main-nowPlayingBar-center button:not(.main-playPauseButton-button):active {
    color: rgba(var(--spice-rgb-text), 0.7) !important;
}

.main-playPauseButton-button {
    color: var(--spice-main) !important;
}

/* fix discography buttons */
.encore-dark-theme .encore-inverted-light-set {
    --background-highlight: var(--spice-button-active);
}

/* highlight current playing song */
.main-trackList-active {
    background-color: rgba(var(--spice-rgb-selected-row), 0.25) !important;
}

/* fix genre text color in recent search */
#searchPage .main-heroCard-cardMetadata .main-cardHeader-link div {
    color: var(--spice-text) !important;
}

/* fix green play buttons on hover */
.main-topBar-topbarContent button:hover div,
.main-card-PlayButtonContainer button:hover div,
.main-actionBar-ActionBarRow button:hover div {
    background-color: var(--spice-text) !important;
}

.encore-dark-theme .encore-bright-accent-set {
    --background-highlight: var(--spice-text);
    --background-press: var(--spice-button-active);
    --decorative-subdued: var(--spice-text);
}

/* light dark toggle background */
#main-topBar-moon-button {
    background-color: var(--spice-notification);
}

/* hotfix 1.1.84 ugly gradient in left bar */
.Y8edH1Yjo4xrW_58czQj {
    background: none;
}

/* remove home top gradient */
.n87ifzfQlmGX8vkeYGDL {
    background-color: transparent !important;
    background: none;
}

/* smooth color transitions */
@property --spice-sidebar {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-main {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-text {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-subtext {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-button {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-player {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

html {
    transition: --spice-sidebar 0.5s, --spice-main 0.5s, --spice-text 0.5s, --spice-subtext 0.5s, --spice-button 0.5s, --spice-player 0.5s;
}
